<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{comicSeleccionado.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/btn-close.png" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="col-md-3">
          <img src="{{comicSeleccionado.thumbnail.path}}.{{comicSeleccionado.thumbnail.extension}}" height="250" width="200">
        </div>
        <div class="col-md-6">
          <h3>{{comicSeleccionado.title}}</h3>
          <p>{{comicSeleccionado.description}}</p>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button  class="md-raised md-warn" ng-click="agregar()">
       <img src="img/icons/favourites.png" alt=""> Add to favourites
      </md-button>
      <md-button  class="md-raised md-warn" ng-click="comprar()">
        Buy for  $3.99
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
