<div class="container-fluid">
  <!-- cabereza de la página --><!-- cabereza de la página -->
  <div class="row">
    <div class="col-md-12 cabezera">
      <div class="col-md-4">
        <img src="img/Marvel-Logo.png" alt="" class="img-responsive">
      </div>
      <div class="col-md-4">
        <input type="text" name="buscador" ng-model="buscar" class="form-control" placeholder="Select character..">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 personajes">
      <div class="col-md-12">
        <div class="col-md-1">
          <img src="img/icons/characters.png" alt="personajes" class="img-responsive">
        </div>
        <div class="col-md-3">
          <h4>Characters</h4>
        </div>
        <div class="col-md-5 col-md-offset-3">
          <select class="form-control" name="Ordenar" ng-model="orden">
            <option value="" selected>Sort by</option>
            <option value="name">Name</option>
            <option value="id">Id</option>
          </select>
        </div>
      </div>

      <!-- seccion de personajes -->
      <div class="col-md-12">
        <br>
        <div class="col-md-6" ng-repeat="personaje in personajes | filter:buscar | orderBy: orden ">
          <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class="md-card">
            <md-card-title>
              <md-card-title-media>
                <div class="col-md-6 card-media">
                  <div class="md-media-lg">
                    <img src="{{personaje.thumbnail.path}}.{{personaje.thumbnail.extension}}" class="img-circular">
                  </div>
                </div>
                <div class="col-md-6">
                  <span class="md-headline">{{personaje.name}}</span>
                  <span class="md-subhead">{{personaje.description  | limitTo:50 }}</span>
                  <br>
                  <md-button  class="md-raised md-warn">View more</md-button>
                </div>
                <div class="col-md-12">
                  <h3 style="margin-top:40px;">Related comics</h3>
                  <div class="col-md-3" ng-repeat="comic in personaje.comics.items  | limitTo : 4">
                    <a ng-click="showAdvanced($event,comic);" style="cursor:pointer;">{{comic.name   | limitTo : 24}}</a>
                  </div>
                </div>
              </md-card-title-media>
            </md-card-title>
          </md-card>
        </div>
      </div>
    </div>
    <!-- fin seccion personajes -->

    <div class="col-md-3 personajes">
      <h2> <img src="img/icons/btn-favourites-primary.png" alt=""> My favourites</h2>
    </div>
  </div>
</div>
